@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;&display=swop");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* Avatar Container */
.avatar-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 20px; /* Adjust for spacing from the right */
  text-align: center;
  color: white;
  margin-right: 220px;
  margin-top: 25px;
}

.avatar-container .avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #b74b4b;
  margin-bottom: 5px; /* Space between image and name */
}

.avatar-container .avatar-name {
  font-size: 12px;
  font-weight: 500;
  margin-left: 7px;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 100;
  justify-content: space-evenly;
  padding-top: 35px;
  transition: 0.5s linear;
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 100px;
}

body {
  background-color: whitesmoke;
}

.coffee_logo img {
  height: 80px;
  width: 80px;
  margin: -25px;
}

/* Particles in Navbar */
.navbar {
  display: flex;
  padding-top: 5px;
  margin-right: -100px;
}

.navbar a {
  padding: 15px 20px;
  padding-top: 10px;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Hover Colour */
.navbar a:hover {
  background: #b74b4b;
  border-radius: 0.3rem;
  padding-top: 14px;
  transition: 0.2s all linear;
}

.div i {
  margin-left: 10px;
}

.div {
  border: 2px solid #b74b4b;
  height: 50px;
  margin-top: -10px;
  padding-top: 13px;
  border-radius: 5px;
  margin-left: 50px;
  transition: 0.2s all linear;
}

.div:hover {
  border: 2px solid rgb(225, 198, 124);
}

.div a {
  color: white;
  padding: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.navbar b {
  background-color: #b74b4b;
  height: 50px;
  margin-top: -15px;
  padding-top: 14px;
  border-radius: 5px;
  margin-right: 15px;
}

.logout-button {
  margin-top: 5px;
  margin-left: 7px;
  padding: 6px 12px;
  background-color: #b74b4b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #8f3d3d;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s linear;
  user-select: none;
}

#avatar-container {
  margin-top: 0px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 6px;
  border: 2px solid white;
}

.avatar-name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  font-size: 0.85rem;
  color: white;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
}

/* Welcome Part */
section {
  padding: 50px;
}

.home {
  width: 100%;
  background: url(bg.png);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  padding-left: 100px;
}

.home_text h1 {
  font-size: 60px;
  color: rgb(225, 198, 124);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-top: 200px;
  text-align: left;
  padding-left: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  word-spacing: 1px;
}

.home_text h1 i {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
}

.home_text a {
  display: inline-block;
  /* padding: 1.2rem 2rem; */
  /* background-color: #b74b4b; */
  border-radius: 5px;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  /* transition: 0.3s ease; */
  cursor: pointer;
  margin-left: 80px;
  border: 2px solid #b74b4b;
  height: 60px;
  margin-top: -10px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 10px;
  border-radius: 5px;
  transition: 0.2s all linear;
}

.home_text a:hover {
  /* transform: scale3d(1.03); */
  /* background-color: #b74b4b; */
  color: rgb(255, 255, 255);
  /* box-shadow: 0 0 25px #b74b4b; */
  border: 2px solid rgb(225, 198, 124);
}

.home_text p {
  font-size: 19px;
  color: rgb(255, 255, 255);
  margin: 0.5rem 0 1.4rem;
  letter-spacing: 0.5px;
  padding: 30px;
  text-align: left;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home_text i {
  color: #b74b4b;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}

/* Introduction */
.home_img img {
  height: 53%;
  padding-top: 75px;
  padding-bottom: 220px;
  transition: 0.2s all linear;
  margin-left: 10px;
}

.home_img img:hover {
  transform: scale(1.05);
}

.intro {
  display: flex;
}

.noidung {
  padding-top: 35px;
  margin: 20px;
}

.noidung h3 {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 30px;
  background-color: rgb(182, 152, 71);
  border-radius: 10px;
  color: white;
}

.noidung i {
  margin: 7px;
}

.noidung a {
  color: white;
  margin: 20px;
}

.hinhanh {
  padding-top: 13px;
}

.hinhanh img {
  height: 430px;
  width: 450px;
  padding: 15px;
  cursor: pointer;
}

.noidung p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 25px;
  margin: 20px;
  font-size: large;
}

.intro {
  display: flex;
  min-height: 80vh;
  padding: 5rem 5rem;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: linear-gradient(135deg, #d56b6b, rgb(240, 220, 170));
}

.intro .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

h2 span {
  color: #b74b4b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-content h3 {
  font-size: 50px;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content h2 {
  font-size: 70px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-content p {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-img1 img {
  width: 400px;
  margin-top: -150px;
  margin-left: -40px;
}

.learn_more span {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.learn_more a {
  position: relative;
  margin-top: 10px;
  margin-bottom: -50px;
  width: 250px;
  gap: 10px;
  height: 60px;
  background: #b74b4b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 500;
}

.learn_more a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: scaleX(0);
  transition: transform 1s ease-in-out;
  transform-origin: right;
}

.learn_more a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.learn_more a span {
  display: inline-block;
  z-index: 2;
  transition: 1s ease-in-out;
  border-radius: 10px;
}

.learn_more a:hover span {
  color: #b74b4b;
}

.learn_more a i {
  position: relative;
  display: inline-block;
  width: 2px;
  height: 30px;
  background: #333;
  transition: 0.5s, width 0.5s, height 0.5s;
  transition-delay: 0s, 0.5s, 1s;
  border-radius: 10px;
}

.learn_more a:hover i {
  width: 30px;
  height: 2px;
  background: #b74b4b;
  transition-delay: 0s, 1s, 0.5s;
}

.learn_more a i::before {
  content: "";
  position: absolute;
  top: 0.5px;
  right: 0;
  width: 50%;
  height: 2px;
  background: transparent;
  rotate: 0;
  transform-origin: right;
  transform: 1s;
}

.learn_more a:hover i::before {
  background: #b74b4b;
  rotate: 45deg;
  transition-delay: 1.5s;
}

.learn_more a i::after {
  content: "";
  position: absolute;
  top: -0.5px;
  right: 0;
  width: 50%;
  height: 2px;
  background: transparent;
  rotate: 0;
  transform-origin: right;
  transform: 1s;
}

.learn_more a:hover i::after {
  background: #b74b4b;
  rotate: -45deg;
  transition-delay: 1.5s;
}

.typing-text span::before {
  content: "Web Designer & Coder";
  color: #b74b4b;
}

footer {
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 2rem 1rem;
}

.border {
  width: 100px;
  height: 2px;
  background: #b74b4b;
  margin-top: -14px;
}

.divimg img {
  width: 130px;
  height: 130px;
  margin-right: 100px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 240px;
  color: #f2f2f2f2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0 2rem;
  justify-content: space-evenly;
}

.col a {
  padding-top: 8px;
  font-size: 19px;
}

.col .logo {
  width: 100px;
  margin-bottom: 25px;
}

.col h3 {
  color: whitesmoke;
  margin-bottom: 20px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 23px;
}

.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#contact {
  margin-right: -50px;
}

.col .links i {
  padding-right: 10px;
}

.col .links a::before {
  content: "";
  height: 20px;
  width: 2px;
  position: absolute;
  top: 8.5px;
  left: -10px;
  background-color: #b74b4b;
  transition: 0.5s ease;
  opacity: 0;
}

.col .links a:hover::before {
  opacity: 1;
}

.col .links a:hover {
  transform: translateX(-5px);
  color: #b74b4b;
}

.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
}

.col .contact-details i {
  margin-right: 15px;
}

.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  padding-top: 50px;
  margin-right: 60px;
}

.row .form input {
  background-color: rgb(255, 255, 255);
  color: #b74b4b;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 17.5px;
  margin-top: 20px;
}

.form button {
  margin-left: -10px;
  padding: 22.2px 20px;
  border: 0;
  padding-bottom: 16px;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #b74b4b;
  cursor: pointer;
  font-size: 9.2px;
}

.form button:hover {
  color: white;
}

.social-icons ul {
  display: flex;
  position: absolute;
  margin-left: 100px;
  margin-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
}

.social-icons ul li {
  list-style: none;
}

.social-icons ul li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social-icons ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.social-icons ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-icons ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.social-icons ul li a:hover:before {
  top: 0;
}

.social-icons ul li:nth-child(1) a:before {
  background: #3b5999;
}

.social-icons ul li:nth-child(2) a:before {
  background: #55acee;
}

.social-icons ul li:nth-child(3) a:before {
  background: #0077b5;
}

.social-icons ul li:nth-child(4) a:before {
  background: #dd4b39;
}

.social-icons li {
  font-size: 2rem;
  border-radius: 50%;
  padding-top: 1800px;
  margin: 10px;
}
